@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,200);

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

body {
	background-image: url('../images/bg-index.png');
}

h1 {
	font-family: 'Lato';
	color: #EEEEEE;
}

.btn-primary:focus {
	outline: 0;
}

input {
	border: 1px solid #9E9E9E;
	border-radius: 2px;
}

input:focus {
	outline: none;
	border: 1px solid #5AB0DB;
}

input[type=submit] {
	padding: 6px 20px 6px 20px;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	transition: transform 0.4s;
	transition: ease 0.6s;
	outline: none;
}

input[type=submit]:hover {
	transform: translate(0px, 4px);
	background-color: rgba(255, 255, 255, 0.5);
}

.ng-invalid.ng-dirty {  
	border-color: #FA787E; 
}
.ng-valid.ng-dirty {  
	border-color: #78FA89; 
}

.index-login {
	position: relative;
	text-align: center;
	top: 240px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
}

.input-login {
	margin-bottom: 60px;
}

.index-fd-image {
	margin-top: 20px;
	margin-bottom: 10px;
}

.index-fd-image a{
	position: relative;
	bottom: 250px;
	padding: 4px 30px 6px 30px;
	opacity: 0;
	border: 2px solid white;
	border-radius: 3px;
	backface-visibility: hidden;
	transition: transform 1s, opacity 1s;
	color: white;
	font-size: 20px;
	font-family: 'Raleway';
}

.index-fd-image a:hover {
	background-color: rgba(97,97,97, 0.8);
}

.index-fd-image figure:hover a{
	opacity: 1;
	transform: rotate(360deg);
}

.bio-img {
	-webkit-transition: ease 1s;
	height: auto;
	width: 100%;
	border-radius: 10px;
}

.bio-img:hover {
	z-index: 9999;
	-webkit-filter: blur(3px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}


