@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,200);

a:hover {
	text-decoration: none;
}

input {
	border: 1px solid #9E9E9E;
	border-radius: 2px;
}

input:focus {
	outline: none;
	border: 1px solid #5AB0DB;
}

.index-login {
	position: relative;
	text-align: center;
	top: 240px;
	font-family: "Lato", sans-serif;
	font-weight: lighter;
}

.input-login {
	margin-bottom: 60px;
}

.index-fd-image {
	margin-top: 20px;
	margin-bottom: 10px;
}

.bio-img {
	transition: ease 1s;
	height: auto;
	width: 100%;
	border-radius: 10px;
}

.bio-img:hover {
	z-index: 9999;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.bio-img:hover + .fd-bio {
	display: block;
}

.fd-bio	{
	display: none;
	position: relative;
	bottom: 250px;
	height: 35px;
	width: 170px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	font-family: "Raleway" sans-serif;
	font-size: 18px;
	font-weight: 300;
}
